body {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    border: 2px solid black;
    
}

h1 {
    /* border: 1px solid black; */
    text-align: center;
    text-decoration: underline;
}

button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 50%;
    background: whitesmoke;
    font-size: large;
    font-weight: 700;
}

p {
    /* border: 1px solid black; */
}

li {
    list-style: none;
}
 
